<!DOCTYPE html>
<html>
<head>
    <title>Book room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='book_bg.jpg') }}");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 style="color: #d6d6d6;">Booking for Room {{ room[0] }} - {{ room[1] }}</h2>
    <form method="POST">
        <label style="color: #d6d6d6;">Number of People:</label>
        <input type="number" name="people" required><br>
        <label style="color: #d6d6d6;">Number of Rooms:</label>
        <input type="number" name="num_rooms" required><br>
        <label style="color: #d6d6d6;">Start Date:</label>
        <input type="date" name="start_date" required><br>
        <label style="color: #d6d6d6;">End Date:</label>
        <input type="date" name="end_date" required><br>
        <input type="hidden" name="room_id" value="{{ room[0] }}">
        <button type="submit">Proceed to Payment</button>
    </form>
    <a href="/dashboard">Cancel</a>
</div>
</body>
</html>
